header .row:first-child{
  background-color: #2C3E50;
  min-height: 100px;
}

header .row:last-child{
  background-color: #1ABC9C;
  min-height: 400px;
  margin-top: 100px;
}

/************* ABOUT *************/
.jumbo .col-5:first-of-type{
  height: 40%;
}

.jumbo img{
  object-fit: contain;
}

.green{
  background-color: #1ABC9C;
}

/*********** PORTFOLIO ***********/
.portfolio{
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

/************* FOOTER *************/
.top{
  background-color: #3A546D;
}

.bottom{
  background-color: #2C3E50;
}

/************ DEBUG ************/
[class*="col-"] {
  border: 1px solid black;
  min-height: 50px;
}

.green .col-8{
  height: 200px;
}

.contact .col-8{
  height: 200px;
}